# Additional Exercises: Lists and for loops
If you are eager to practise a little more, here are some exercises.

### Exercise 1: Combine Lists
In the following cell, three lists are defined. Combine the three lists to one list containing all the elements of the lists `l1`, `l2` and `l3`.

Example output:

    [1, 2, 3, 4, 11, 12, 13, 14, 101, 102, 103, 104]
    
#### Hint
It is important to distinguish between adding lists or creating a list of given lists (cf. exercise below).

In [ ]:
l1 = [1, 2, 3, 4]
l2 = [11, 12, 13, 14]
l3 = [101, 102, 103, 104]

combined_list = l1 + l2 + l3
print(combined_list)

### Exercise 2: Which of the numbers are even?
List `l1` contains some random numbers. Which of these numbers are even (that means they are divisible by 2)? Use a `for` loop to iterate through the `l1` and output all even numbers.

Example output:

    464
    522
    634
    ...
    
#### Hint
This is a combination of a `for` loop containing an `if` statement. This is an often used pattern. Divisibility can easily be checked using the modulo operand `%`.

In [ ]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

for i in l1:
    if i % 2 == 0:
        print(i)

### Exercise 3: Create sublists of odd and even numbers
The same list a before is given. Now iterate through this list and add the odd numberst to `odd_list` and the even numbers to `even_list`. Output how many numbers are contained in each list.

Example output:

    The odd list contains 62 numbers.
    The even list contains 61 numbers.
    
#### Hint
Similar to the last exercise. Now new lists have to be filled up. Important: It is necessary to initialize `odd_list` and `even_list` before you iterate through the given list. The length of the inital list is given, to double check, that the result is plausible.

In [ ]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

odd_list = []
even_list = []

for i in l1:
    if i % 2 == 0:
        even_list.append(i)
    else:
        odd_list.append(i)

print("The initial list contains", len(l1), "numbers.")
print("The odd list contains", len(odd_list), "numbers.")
print("The even list contains", len(even_list), "numbers.")

### Exercise 4: Create a list of sublists
The same lists as in exercise 1 are given. Put the lists into one new list. However, this new list should **not** contain the items of the original lists, but the original lists itself. There should be a list of lists.

Example output:

    [[1, 2, 3, 4], [11, 12, 13, 14], [101, 102, 103, 104]]
    
#### Hint
Check the difference to exercise 1.

In [ ]:
l1 = [1, 2, 3, 4]
l2 = [11, 12, 13, 14]
l3 = [101, 102, 103, 104]

combined_list = [l1, l2, l3]
print(combined_list)

### Exercise 5: Create list of lists using ranges
Create a list of lists. The first *inner* list contains the values [1, 2, ... 10]. The second list contains the values [2, 4, ... 20], ... the tenth list contains the values [10, 20, ... 100]. All these lists should be included in a the *outer* list. Finally, iterate through the outer list and print all the inner lists. There should be the multiplication table from primary school.

Hint: You need two nested `for` loops, which iterate from 1 to 10.

Example output:

    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
    ...
    
#### Hint
If you have two dimensional data like the multiplication table, then typically two nested loops are required. To iterate over the sequence 1 to 10, the range has to be from 1 to 11 as the last element is the first one, which is **not** part of the range.

In [ ]:
multiplication_table = []

for i in range (1, 11):
    l = []
    for j in range (1, 11):
        l.append(i * j)
    multiplication_table.append(l)
    
for l in multiplication_table:
    print(l)

### Exercise 6: Range and divisibtility
Implement a program that outputs all numbers between 1500 and 3000 which are divisible by 5 and 7.

Example output:

    1505
    1540
    1575
    ...
    
#### Hint
Not much to say ...

In [ ]:
for i in range(1500, 3001):
    if i % 5 == 0 and i % 7 == 0:
        print(i)

### Exercise 7: Reverse a list
Again, there is the list containing the random numbers. Create a new list `l2`, which contains the same numbers but in reverse order, that means  [887, 66, 398, ..., 339, 199]

Example output:

    [887, 66, 398, ...]
    
#### Hint
There are different solutions to this exercise. The first one takes the elements of the initial list from the beginning to the end and inserts the current element into the first place of the new list. All other elements, which have been inserted before are pushed one position further. To demonstrate this behaviour, an additional `print()` has been added into the `for` loop. If you just want to print out the final solution, then comment the statement out, that means, add a `#` at the beginning of the line. Before starting the loop, the new list has to be initialized.

The second solution starts from the end of the initial list and appends the values to the new list. To do so, the method `.pop()` is helpful. It returns the last element of a list and deletes this element from the list. Again, an addition `print()` within the loop demonstrates, how the list is built up. Important: At the end of the for loop, the initial list is empty. So, if this initial list is still required, you should take a copy first.

The last solution uses the method `.reverse()`. We have not introduced this method, so this is a cheat :-)

In [ ]:
# Solution 1
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

rev_list = []
for i in l1:
    rev_list.insert(0, i)
    print(rev_list)

print(rev_list)

In [ ]:
# Solution 2
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

rev_list = []
for i in range(len(l1)):
    x = l1.pop()
    rev_list.append(x)
    print(rev_list)

print(rev_list)
print(l1)

In [ ]:
# Solution 3
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

l1.reverse()
print(l1)

### Exercise 8: Sum up all the numbers of a list
There is the Python-function `sum()` which should be simulated by your program. So do not use this `sum()` function. 

Hint: Iterate through this list and add each number to a variable, which has been defined before.

Example output:

    The sum of the list is 58377
    
#### Hint
If you want to aggregate (e.g. calculate the sum or the product) a certain list (or any other object), it is usually required to initialize a variable which "collects" the values. In the given situation, the variable has to be initialized with the value 0. If you would like to create the product of all elements of this list, what would be the correct initializaytion then?

In [ ]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

s = 0
for i in l1:
    s += i

print(s)