# Additional Exercises: Lists and for loops
If you are eager to practise a little more, here are some exercises.

### Exercise 1: Combine Lists
In the following cell, three lists are defined. Combine the three lists to one list containing all the elements of the lists `l1`, `l2` and `l3`.

In [3]:
l1 = [1, 2, 3, 4]
l2 = [11, 12, 13, 14]
l3 = [101, 102, 103, 104]

combined_list = l1 + l2 + l3
print(combined_list)

[1, 2, 3, 4, 11, 12, 13, 14, 101, 102, 103, 104]

### Exercise 2: Which of the numbers are even?
List `l1` contains some random numbers. Which of these numbers are even (that means they are divisible by 2)? Use a `for` loop to iterate through the `l1` and output all even numbers.

In [5]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

for i in l1:
    if i % 2 == 0:
        print(i)

464
522
634
102
40
180
44
478
104
668
664
920
92
986
978
140
628
98
424
24
38
92
80
610
966
934
892
210
752
310
478
864
620
650
922
894
588
44
102
538
620
138
842
378
458
388
710
476
352
764
162
934
300
48
338
734
808
28
638
290
398
66

### Exercise 3: Create sublists of odd and even numbers
The same list a before is given. Now iterate through this list and add the odd numberst to `odd_list` and the even numbers to `even_list`. Output how many numbers are contained in each list.

In [6]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

odd_list = []
even_list = []

for i in l1:
    if i % 2 == 0:
        even_list.append(i)
    else:
        odd_list.append(i)

print(len(l1))
print(len(odd_list))
print(len(even_list))

123
61
62

### Exercise 4: Create a list of sublists
The same lists as in exercise 1 are given. Put the lists into one new list. However, this new list should **not** contain the items of the original lists, but the original lists itself. There should be a list of lists.

In [7]:
l1 = [1, 2, 3, 4]
l2 = [11, 12, 13, 14]
l3 = [101, 102, 103, 104]

combined_list = [l1, l2, l3]
print(combined_list)

[[1, 2, 3, 4], [11, 12, 13, 14], [101, 102, 103, 104]]

### Exercise 5: Create list of lists using ranges
Create a list of lists. The first *inner* list contains the values [1, 2, ... 10]. The second list contains the values [2, 4, ... 20], ... the tenth list contains the values [10, 20, ... 100]. All these lists should be included in a the *outer* list. Finally, iterate through the outer list and print all the inner lists. There should be the multiplication table from primary school.

Hint: You need two nested `for` loops, which iterate from 1 to 10.

In [8]:
multiplication_table = []

for i in range (1, 11):
    l = []
    for j in range (1, 11):
        l.append(i * j)
    multiplication_table.append(l)
    
for l in multiplication_table:
    print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### Exercise 6: Range and divisibtility
Implement a program that outputs all numbers between 1500 and 3000 which are divisible by 5 and 7.

In [9]:
for i in range(1500, 3001):
    if i % 5 == 0 and i % 7 == 0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695
2730
2765
2800
2835
2870
2905
2940
2975

### Exercise 7: Turn a list
Again, there is the list containing the random numbers. Create a new list `l2`, which contains the same numbers but in inverse order, that means  [887, 66, 398, ..., 339, 199]

In [11]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

inv_list = []
for i in l1:
    inv_list.insert(0, i)

print(inv_list)

[887, 66, 398, 290, 638, 269, 28, 613, 895, 808, 734, 338, 817, 48, 509, 947, 300, 365, 769, 934, 257, 435, 301, 162, 764, 352, 476, 710, 388, 913, 547, 535, 458, 378, 842, 569, 138, 620, 538, 102, 44, 823, 473, 588, 117, 894, 271, 789, 103, 893, 922, 650, 219, 973, 620, 864, 921, 478, 310, 55, 752, 471, 210, 892, 385, 934, 966, 73, 610, 80, 92, 38, 24, 63, 745, 424, 98, 549, 175, 628, 443, 140, 978, 555, 85, 905, 986, 92, 441, 841, 563, 29, 193, 561, 920, 111, 664, 413, 317, 668, 467, 27, 104, 423, 569, 833, 449, 478, 44, 655, 180, 40, 835, 31, 102, 863, 591, 634, 522, 464, 269, 339, 199]

### Exercise 8: Sum up all the numbers of a list
There is the Python-function `sum()` which should be simulated by your program. So do not use this `sum()` function. 

Hint: Iterate through this list and add each number to a variable, which has been defined before.

In [12]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

s = 0
for i in l1:
    s += i

print(s)

58377